@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

:root {
    --custom-blue: #007bff;
}

.show-modal {
    overflow-y: hidden;
}

.wrapper { 
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex; 
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}

label + * {
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    padding: 7px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

select {
    border-radius: 4px;
    height: 40px;
}

h1 {
    font-weight: bolder;
    font-size: x-large;
}

li {
    height: auto;
    padding: 10px;
    margin: 10px 0;
    background-color: #eee;
    border-radius: 10px;
}

a {
    color: var(--custom-blue);
}

textarea {
    padding: 7px;
    outline: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    resize: none;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 7px 10px;
    color: white;
    border: none;
    background-color: var(--custom-blue);
    border-radius: 5px;
    cursor: pointer;
}

.error-msg {
    color: crimson;
}

table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #212529;
    margin-bottom: 1rem;
}
  
table td, table th {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
    text-align: center;
}
  
table thead {
    background-color: #7ea8f8;
}
