* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

:root {
    --custom-blue: #007bff;
}

label + * {
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], select  {
    padding: 7px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
}

select {
    border-radius: 4px;
    height: 40px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    color: white;
    z-index: 9999;
}

h1 {
    font-weight: bolder;
    font-size: x-large;
}

li {
    height: auto;
    padding: 10px;
    margin: 10px 0;
    background-color: #eee;
    border-radius: 10px;
}
textarea {
    padding: 7px;
    outline: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    resize: none;
}

.btn {
    margin-top: 10px;
    padding: 7px 10px;
    color: white;
    border: none;
    background-color: var(--custom-blue);
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: crimson;
}
